/* Global */
:root {
    --background-color: #fcf9f2;
    --background02-color: #ddd2b7;
    --main-color: #b4a177;
    --textTypeOne-color: #919191;
    --textTypeTwo-color: #343446;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*This allows my code to not to be affected by margins or borders*/
}


.lists {
    list-style: none;
}

img {
    width: 40%;
}

.container {
    max-width: 80%;
    margin: auto;
    padding: 0px 50px;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center; 
}

.column-1 {
    margin-right: 20px;
}

.column-2 {
    margin-left: 20px;
}

#calculate {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--textTypeTwo-color);
    color: var(--main-color);
    border: 1px solid;
    border-radius: 7%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}



/* End of Global */







/* Header */

header {
    width: 100%;
    background-color: var(--background02-color);
    overflow: hidden;
    padding: 30px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .lists {
    display: flex;
}

.container #logo {
    display: flex;
    color: var(--textTypeOne-color);
    font-size: 170%;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


nav .lists a {
    display: inline-block;
    padding: 10px 20px;
    color: var(--textTypeTwo-color);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;

}

nav .lists a:hover {
    color: var(--main-color);
}


nav .lists a.hire-me:hover {
    color: var(--background-color);
    background: #1c1c25;
}

.logo-text {
    color: var(--main-color);
}

/* End of Header */


/* Section - Showcase */


#showcase .container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    justify-content: center;
    text-align: left;
}


#showcase {
    width: 100%;
    background-color: var(--background-color);
    overflow: hidden;
    padding: 40px 0;
    margin-top: 50 px;
    
}

.container h2 {
    font-size: 50px;
    line-height: 1;
    color: var(--textTypeTwo-color);
    text-transform: uppercase;
}

.container p {
    font-size: 25px;
    color: var(--textTypeOne-color);
    line-height: 1;
    margin: 20px 0;
}

.container img {
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    

}



/* End of Section - Showcase */

/* Section - Newsletter */

#newsletter {
    padding: 15px;
    background: var(--background02-color);
    
}

#newsletter .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#newsletter h1 {
    margin: 15px 0;
    font-size: 25px;
    text-transform: uppercase;
    color: var(--textTypeOne-color);
    display: flex;
}

#newsletter form {
    float: right;
    margin: 15px 0;
    display: flex;
    align-items: center;
   
}

#newsletter input[type="number"] {
    padding: 30px 30px;
    height: 40px;
    width: 400px;
    margin-left: 10px;
    font-size: 15px;
}


/* End of Section - Newsletter */

#viewResult {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#viewResult p {
    font-size: 45px;
    text-transform: uppercase;
    color: var(--textTypeTwo-color);
    display: flex;
    text-align: center;
}